<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="InternalNuget" value="http://devops/APP-BDRD/InternalNuGet/_packaging/LocalNuget/nuget/v3/index.json" />
		<add key="Nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
	<packageRestore>
		<!-- Allow NuGet to download missing packages -->
		<add key="enabled" value="True" />
		<!-- Automatically check for missing packages during build in Visual Studio -->
		<add key="automatic" value="True" />
	</packageRestore>
</configuration>
